/* DiskProgressChart.module.css */

.diskContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: transparent; /* chart container background inherits dark blue parent */
}

.disk {
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}

.disk:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.1);
}

.disk h4 {
    margin: 5px 0;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
}

.disk p {
    margin: 2px 0;
    font-size: 0.9rem;
    color: #ccc;
}

.diskCircle {
    width: 80px;
    height: 80px;
    margin: 10px 0;
}

.partitions {
    width:150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.partition {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.partition:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.partition h5 {
    margin: 3px 0;
    font-size: 0.95rem;
    color: #fff;
}

.partition p {
    margin: 2px 0;
    font-size: 0.85rem;
    color: #ccc;
}

.partition > div {
    width: 60px;
    height: 60px;
    margin-top: 5px;
}
